<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            PayPal Unsubscribe
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Отмена подписки отменяет все запланированные платежи по этой подписке. Подписка может быть отменена не менее чем
        за один день до следующего планового платежа без взыскания с вас дополнительной платы.
    <ul>
        <li>Перейдите в Настройки.
        <li>Нажмите Платежи.
        <li>В разделе «Предварительно утвержденные платежи» нажмите Управление предварительно утвержденными платежами.
        <li>Выберите продавца, соглашение с которым вы хотите отменить, и нажмите Отмена.
        <li>Нажмите Отменить профиль, чтобы подтвердить свой запрос.
        </li>
    </ul>

    <hr>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=AHU47D4QK3RF4&switch_classic=true">
        <img src="https://www.paypalobjects.com/ru_RU/i/btn/btn_unsubscribe_LG.gif">
    </a>
</ion-content>