<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            PayPal Donation
        </ion-title>
    </ion-toolbar>
     
</ion-header>

<ion-content padding>
 
    <p>Привет!</p>

    <p> Ты наверняка помнишь свой первый «кидовский» лагерь, название своей команды, своих лидеров. Летние лагеря K.I.D
        были лучшим временем года: посвящение, театральный день, экономическая игра без правил, гитара до утра, какое-то
        бесконечное счастье, непрекращающийся смех, а потом прощальный вечер, когда все обнимаются и не хотят
        расставаться. Мы хотим продолжать эту традицию, а также двигаться дальше, и для этого нам нужна твоя помощь.
    </p>   
    <p> K.I.D существует более 20 лет, и за это время мы сделали многое: организовали в Латвии лигу «Что? Где? Когда?»
        для школьников, были партнерами более чем 50 молодежных обменов и международных проектов, проводили киновечера,
        воскресные лекции, чай-клубы, походы, и, конечно же, кульминацией становились летние лагеря.
        Всё это проводилось при поддержке латвийских и европейских фондов, а также благодаря волонтёрам. В последнее
        время директивы фондов меняются, и нам всё сложнее получать финансирование для летнего лагеря в том виде, в
        котором мы все его знаем.
    </p>
    <p> Также у нас появилась идея открыть офис K.I.D, где мероприятия будут проходить круглый год. Идей много —
        воркшопы, клубы по интересам, киновечера, игры-симуляции и семинары. Всё это можно
        осуществить при достаточном финансировании.
    </p>
    <p>
        Именно поэтому мы предлагаем тебе, бывшему «кидовцу», поддержать нас и дать нам возможность реализовать новые
        крутые идеи. Поддержка может быть как единовременной, так и регулярной. Регулярные пожертвования, пусть и небольшие, 
        позволят нам лучше прогнозировать бюджет и планировать мероприятия, но мы будем рады любой поддержке!
    </p>   
    <p> Для регулярных пожертвований нажми внизу страницу кнопку «Сделать пожертвование», введи сумму ежемесячного пожертвования, 
        отметь «Сделать данное пожертвование ежемесячным» <b>(NB!)</b> и выбери способ оплаты: через аккаунт Paypal или с помощью банковской карты.
    </p> 
    <p>   
        <img src="../../assets/paypal.png"/>
    </p>     
     <p>   
        В случае, если ты выберешь оплату с помощью банковской карты, Paypal предложит зарегистрировать аккаунт, чтобы у тебя была возможность 
        отказаться от регулярных пожертвований. Это бесплатная услуга, для этого всего лишь надо указать свои контактные данные и придумать пароль.
    </p>
    <p>
        Разовое пожертвование можно сделать с помощью банковской карты или аккаунта Paypal, нажав кнопку «Сделать пожертвование», а также банковским перечислением — наши реквизыты указаны внизу страницы.
        В качестве цели платежа обязательно укажи <i>Ziedojums biedrībai KID Alumni</i>.
    </p>

    <form id="donate2" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations"/>
        <!--<input type="hidden" name="charset" value="utf-8">-->
        <input type="hidden" name="business" value="donate@kid.lv"/>
        <input type="hidden" name="item_name" value="Ziedojums 'KID Alumni'"/>
        <input type="hidden" name="lc" value="ru_LV">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="no_shipping" value="0">
        <input type="hidden" name="currency_code" value="EUR"/>
        <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" border="0"
               name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!"
               onclick="document.getElementById('donate2').submit();">
        <img alt="" border="0" src="https://www.paypal.com/en_LV/i/scr/pixel.gif" width="1" height="1"/>

    </form>

    <hr>
    <p>Если ты хочешь получать краткий обзор нашей деятельности, <a
            href="https://mailchi.mp/24d86cbf13ac/kid">подпишись на рассылку</a>. Раз в 3 месяца мы будем рассказывать о том, 
        как у нас идут дела, какие мероприятия мы провели и что планируется в скором будущем. В любой момент можно отписаться — 
        спама слать мы не собираемся.</p>
<p> Если у тебя есть вопросы, пожелания или предложения, пиши на donate@kid.lv, мы будем рады! </p>
<p> Спасибо!</p>

</ion-content>
