<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            PayPal Donation
        </ion-title>
    </ion-toolbar>
     
</ion-header>

<ion-content padding>
 
    <p>Привет, это тест!</p>

    <p>Ты наверняка помнишь свой первый «кидовский» лагерь, название своей команды, своих лидеров. Летние лагеря K.I.D
        были лучшим временем года: посвящение, театральный день, экономическая игра без правил, гитара до утра, какое-то
        бесконечное счастье, непрекращающийся смех, а потом прощальный вечер, когда все обнимаются и не хотят
        расставаться. Мы хотим продолжать эту традицию, а также двигаться дальше, и для этого нам нужна твоя помощь.
        K.I.D существует более 20 лет, и за это время мы сделали многое: организовали в Латвии лигу «Что? Где? Когда?»
        для школьников, были партнерами более чем 50 молодежных обменов и международных проектов, проводили киновечера,
        воскресные лекции, чай-клубы, походы, и, конечно же, кульминацией становились летние лагеря.
        Всё это проводилось при поддержке латвийских и европейских фондов, а также благодаря волонтёрам. В последнее
        время директивы фондов меняются, и нам всё сложнее получать финансирование для летнего лагеря в том виде, в
        котором мы все его знаем.
    </p>

    <p> Также у нас появилась идея открыть офис K.I.D, где мероприятия будут проходить круглый год. Идей много —
        воркшопы, клубы по интересам, киновечера, встречи с лидерами, симуляции и обучающие игры. Всё это можно
        осуществить при достаточном финансировании.
        Именно поэтому мы предлагаем тебе, бывшему «кидовцу», поддержать нас и дать нам возможность реализовать новые
        крутые идеи. Поддержка может быть как единовременной, так и регулярной. Для разового пожертвования выбери в меню
        слева «Разовое пожертвование» и следуй инструкциям!
        Для регулярной поддержки выбери сумму ежемесячного перечисления внизу страницу, укажи своё имя и нажми
        «Подписаться».</p>

    <form id="donate2" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations"/>
        <input type="hidden" name="business" value="donate@kid.lv"/>
        <input type="hidden" name="item_name" value="Ziedojums biedrībai 'KID Alumni'"/>
        <input type="hidden" name="lc" value="EN">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="cn" value="Add special instructions to the seller:">
        <input type="hidden" name="no_shipping" value="2">
        <input type="hidden" name="currency_code" value="EUR"/>
        <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" border="0"
               name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!"
               onclick="document.getElementById('donate2').submit();">
        <img alt="" border="0" src="https://www.paypal.com/en_LV/i/scr/pixel.gif" width="1" height="1"/>

    </form>

    <hr>
    <p>Чтобы быть в курсе происходящего и получать регулярные отчеты о том, куда уходят деньги, <a
            href="https://mailchi.mp/24d86cbf13ac/kid">подпишитесь на рассылку</a>. В любой момент можно отписаться,
        спама слать мы не собираемся - должно быть безопасно.</p>
</ion-content>
